<div class="flex mt-32 gap-6">
  <div class="w-3/4">
    <mat-stepper
      [linear]="true"
      #stepper
      class="bg-white border border-gray-200 shadow-sm"
    >
      <mat-step label="Address" [stepControl]="addressForm">
        <form [formGroup]="addressForm">
          <h2 class="text-lg font-semibold mb-4">Shipping Address</h2>
          <div class="grid grid-cols-2 gap-4">
            <mat-form-field appearance="outline" class="col-span-2">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-span-2">
              <mat-label>Street Address</mat-label>
              <input matInput formControlName="line1" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-span-2">
              <mat-label>Apartment, suite, etc. (optional)</mat-label>
              <input matInput formControlName="line2" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <mat-select
                formControlName="country"
                (selectionChange)="onCountryChange($event.value)"
              >
                @for (country of countries; track country.isoCode) {
                <mat-option [value]="country.isoCode">{{
                  country.name
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>State / Province</mat-label>
              <mat-select
                formControlName="state"
                [disabled]="states.length === 0"
                (selectionChange)="
                  onStateChange(addressForm.get('country')?.value, $event.value)
                "
              >
                @for (state of states; track state.isoCode) {
                <mat-option [value]="state.isoCode">{{
                  state.name
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <mat-select
                formControlName="city"
                [disabled]="cities.length === 0"
              >
                @for (city of cities; track city.name) {
                <mat-option [value]="city.name">{{ city.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Postal Code</mat-label>
              <input matInput formControlName="postalCode" />
            </mat-form-field>
          </div>
          <div class="flex justify-end mt-2">
            <mat-checkbox formControlName="saveAddress"
              >Save this as my default address</mat-checkbox
            >
          </div>
        </form>
        <div class="flex justify-between mt-6">
          <button class="z-0" routerLink="/shop" mat-stroked-button>
            Continue shopping
          </button>
          <button
            [disabled]="addressForm.invalid"
            class="z-0"
            matStepperNext
            mat-flat-button
          >
            Next
          </button>
        </div>
      </mat-step>

      <mat-step label="Shipping" [stepControl]="deliveryForm">
        <app-checkout-delivery
          [checkoutForm]="checkoutForm"
        ></app-checkout-delivery>
        <div class="flex justify-between mt-6">
          <button matStepperPrevious mat-stroked-button>Back</button>
          <button
            [disabled]="deliveryForm.invalid"
            matStepperNext
            mat-flat-button
          >
            Next
          </button>
        </div>
      </mat-step>

      <mat-step label="Confirmation">
        <app-checkout-review
          [shippingAddress]="addressForm.value"
        ></app-checkout-review>
        <div class="flex justify-between mt-6">
          <button class="z-0" matStepperPrevious mat-stroked-button>
            Back
          </button>
          <button
            [disabled]="loading"
            (click)="submitOrder()"
            class="z-0"
            mat-flat-button
          >
            @if (loading) {
            <mat-spinner diameter="20"></mat-spinner>
            } @else {
            <span>Pay {{ cartService.totals()?.total | currency }}</span>
            }
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  <div class="w-1/4">
    <app-order-summary></app-order-summary>
  </div>
</div>
