<!-- Use the new 'deliveryForm' getter here -->
<div class="mt-4" [formGroup]="deliveryForm">
  <h2 class="text-lg font-semibold mb-4">Choose a delivery method</h2>
  <div class="grid grid-cols-1 gap-4">
    <mat-radio-group formControlName="deliveryMethod" class="flex flex-col gap-2">
      @for(method of deliveryMethods; track method.id) {
        <label
            class="p-3 border border-gray-200 rounded-lg cursor-pointer w-full h-full hover:bg-purple-100 has-[:checked]:bg-purple-50 has-[:checked]:border-purple-300">
            <mat-radio-button 
                [value]="method.id" 
                (change)="setShippingPrice(method)"
                class="w-full h-full">
                <div class="flex justify-between items-center w-full h-full">
                    <strong>{{ method.shortName }} - {{ method.price | currency }}</strong>
                    <span class="text-sm text-gray-500">{{ method.description }}</span>
                </div>
            </mat-radio-button>
        </label>
      }
    </mat-radio-group>
  </div>
</div>